::-webkit-scrollbar {
    position: relative;
    right: 10px;
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #1c1c1c;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    cursor: grab;
    background: linear-gradient(0deg, #024253 0%, #00B9E8 100%);
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background-color: #000000;
}
::-webkit-scrollbar-thumb:hover {
    background: #00B9E8;
}


html {
    scroll-behavior: smooth;
    transition: 300ms all ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", system-ui;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}


/*----------------------------  HEADER/NAV BAR  ------------------------------*/

header {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 65px;
    background: rgba(57, 57, 57, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.664);
    backdrop-filter: blur(20px);
}
.KIRBEE {
    position: absolute;
    left: 8%;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    background: -webkit-linear-gradient(0deg, #00B9E8 0%, #024253 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.navBar {
    position: absolute;
    right: 5%;
    display: flex;
    width: 60%; height: 45px;
    align-items: center;
    justify-content: end;
}
.navBar ul {
    display: flex;
    padding-right: 15px;
    
}
.navBar ul li a{
    display: block;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 15px 0px 15px;
    transition: 200ms all ease-in-out;
    margin: 0px 15px;
}
.navBar ul li a:hover {
    color: #00B9E8;
}
.navBar ul li a.active {
    color: #00B9E8;
    font-weight: 600;
}

/*----------------------------  FIRSTPAGE CSS DESIGN  ------------------------------*/

.ribbon {
    z-index: 100;
    position: absolute;
    top: 12.5%; left: 10%;
    width: 55px; height: 90px;
    background-color: #00B9E8;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
    border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;
    box-shadow: 
    inset 2px 2px 7px rgba(255, 255, 255, 0.689), 
    inset -2px -2px 7px rgba(0, 0, 0, 0.689),
    2px 2px 7px rgba(0, 0, 0, 0.685);
}

.sectionsContainer {
    position: relative;
    margin-top: 7%; 
    justify-self: center;
    width: 86%; height: auto;
    background-color: #181818;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.562);

    border-top-left-radius: 20px; border-top-right-radius: 20px;
    overflow: hidden;
}

#backToTop {
    position: relative;
    margin: 40px 0 40px 0;
    padding-bottom: 4px;
    bottom: 0px; left: 50%; transform: translateX(-50%);
    width: 250px; height: 70px;
    background-color: #121212;
    color: #464646;
    font-family: poppins, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid #1c1c1c;
    border-radius: 100px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: 200ms all ease-in-out;
}
.fa-circle-arrow-up {
    margin-right: 5px;
    font-size: 18px;
}

#backToTop:hover {
    color: #00B9E8;
     border: 1px solid #00B9E8;
}

/*---------------------  SECTION 1.1  ---------------------*/

#section11 {
    position: relative;
    vertical-align: top;
    width: 100%; height: 680px;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
}

.sec1grp1 {
    z-index: 2;
    position: absolute;
    left: 7.5%; top: 16%; 
    width: 46%; height: 70%;
    border: 1px solid transparent;
}

.p1title1 {
    margin-top: 40px;
    color: #00B9E8;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 36px;
}
.p1text1 {
    color: rgba(255, 255, 255, 0.541);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 23px;
    margin-bottom: 60px;
}
.p1btn1 {
    width: 210px; height: 55px;
    color: rgba(255, 255, 255, 0.804);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #007A99;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: 200ms all ease-in;
}
.p1btn1:hover {
    color: white;
    background-color: #00a1c9;
    border: 1px solid white;
}

.mask1 {
    z-index: 1;
    position: absolute;
    right: 0;
    max-width: 900px;
    width: 70%; height: 100%;
    -webkit-mask-image: linear-gradient(-90deg, black 0%, transparent 100%);
    mask-image: linear-gradient(-90deg, black 70%, transparent 100%);
    overflow: hidden;
}
.backImg1 {
    position: absolute;
    right: 0;
    height: 100%; width: auto;
    opacity: 60%;
}

/*---------------------  SECTION 1.2  ---------------------*/

#section12 {
    width: 100%; height: 785px;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
}

.p1s2h1 {
    position: relative;
    top: 18%;
    text-align: center;
    color: #00B9E8;
    font-family: 'Zen Dots', 'Sans Serif';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4px;
}

.p1s2container1 {
    position: relative;
    top: 25%;
    justify-self: center;   
    justify-content: center;
    align-items: center;
    width: auto; height: 400px;
    border: 1px solid transparent;
    display: flex;
}

.p1kirbypic1 {
    position: relative;
    width: 279px; height: 372px;
    margin-right: 30px;
    background-image: url(Images/kirby6.jpg);
    background-size: cover;
    background-position: 0px, -20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.971);
    animation: kirbyEvolution 10s infinite;
}

@keyframes kirbyEvolution {
    0% {
        background-image: url(Images/kirby6.jpg);
    }
    20% {
        background-image: url(Images/kirby1.jpg);
    }
    40% {
        background-image: url(Images/kirby2.jpg);
    }
    60% {
        background-image: url(Images/gwpic2.jpg);
    }
    80% {
        background-image: url(Images/kirby3.jpg);
    }
    100% {
        background-image: url(Images/kirby5.png);
    }
}


.p1s1hr1 {
    position: relative;
    width: 4px; height: 372px;
    margin-right: 30px;
    border: none;
    background: linear-gradient(180deg, #00B9E8 0%, #024253 100%);
    border-radius: 10px;
}

.p1s2container2 {
    width: auto; height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto-fit, 110px);
    row-gap: 20px; column-gap: 20px;
    border: 1px solid transparent;
    justify-content: center;
    align-content: center;
}

.gridContainer {
    position: relative;
    width: 358px; height: 110px;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.571);
    border: 1px solid transparent;
    transition: 300ms all ease-in;
}

.gridContainer:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.571);
    border: 1px solid #00B9E8;
}

.gridContainer .address {
    margin-top: 17px;
}

.gridContainer h3 {
    margin-top: 25px; margin-left: 30px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #00B9E8;
}

.gridContainer p {
    margin-top: 8px; margin-left: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #a7a7a7;
}

/*---------------------  SECTION 1.3  ---------------------*/

.p1hr1 {
    position: relative;
    justify-self: center;
    width: 70%; height: 3px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg,rgba(2, 66, 83, 1) 0%, 
    rgba(0, 185, 232, 1) 50%, 
    rgba(2, 66, 83, 1) 100%);
    animation: move 5s linear infinite;
}

@keyframes move {
    0% { 
        background: 
        linear-gradient(90deg,#024253 0%, 
       #00b9e8 50%, 
       #024253 100%);}
    20% {
        background: 
        linear-gradient(90deg,#024253 0%, 
       #024253 50%, 
       #00b9e8 100%);
    }
    40% {
        background: 
        linear-gradient(90deg,#00b9e8 0%, 
       #024253 50%, 
       #024253 100%);
    }
    60% {
        background: 
        linear-gradient(90deg,#024253 0%, 
       #00b9e8 50%, 
       #024253 100%);
    }
    80% {
        background: 
        linear-gradient(90deg,#024253 0%, 
       #024253 50%, 
       #00b9e8 100%);
    }
    100% {
        background: 
        linear-gradient(90deg,#00b9e8 0%, 
       #024253 50%, 
       #024253 100%);
    }
}

#section13 {
    position: relative;
    width: 100%; height: auto;
    padding: 80px 0 80px 0;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: visible;
}

.p1s3h1 {
    position: relative;
    text-align: center;
    color: #00B9E8;
    font-family: 'Zen Dots', 'Sans Serif';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4px;
}

.p1s3container1 {
    position: relative;
    margin-top: 40px;
    padding: 60px 0 60px 0;
    width: 100%; height: 48%;
    background: #181818;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.493);
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, auto);
    column-gap: 30px;
}

.p1s3container2 {
    width: auto; height: auto;
    border: 1px solid transparent;
    display: grid;
    row-gap: 26px;
}

.gridContainer2 {
    position: relative;
    width: 280px; height: 100px;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 
    3px 3px 3px rgba(0, 0, 0, 0.75),
    -3px -3px 3px rgba(255, 255, 255, 0.08);
    border: 1px solid transparent;
    transition: 300ms all ease-in;
}

.gridContainer2:hover {
    border: 1px solid #00B9E8;
}

.gridContainer2 h3 {
    letter-spacing: 1px;
    margin-top: 22px; margin-left: 30px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00B9E8;
}

.gridContainer2 p {
    letter-spacing: 1px;
    margin-top: 8px; margin-left: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #a7a7a7;
}
.fa-user-group {
    color: #00B9E8;
    margin-right: 5px;
}

.p1text2 {
    width: 25%;
    color: #a7a7a7;
    font-family: poppins, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.p1s3img1 {
    width: 35%; height: 300px;
    background-image: url(Images/family.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.771);
    transition: 100ms all ease-in-out;
}

.p1s3img1:hover {
    background-image: url(Images/familypic2.jpg);
}

.p1s3container3 {
    position: relative;
    margin-top: 90px;
    width: 86%; height: 300px;
    background-color: #181818;
    border-radius: 10px;
    border: 2px solid #282828;
    justify-self: center;
    box-shadow: 
    inset 3px 3px 8px rgba(0, 0, 0, 0.75),
    3px 3px 8px rgba(0, 0, 0, 0.75),
    inset -3px -3px 8px rgba(255, 255, 255, 0.08),
    -3px -3px 8px rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 0 25px 0 25px;
    overflow: visible;
}
.p1s3sliderContainer {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 50%,
        transparent
    );
}
.p1s3slider {
    display: flex;
    animation: slide 10s linear infinite;
    width: calc((350px + 0.6rem) * 8 * 2);
}
.p1s3slider-item {
    position: relative;
    flex: 0 0 350px; height: 250px;
    margin: 0 0.3rem;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    overflow: hidden;
}
#item8 {
    background-position-y: -10px;
}
#item4 {
    background-size: 130%;
    background-position-y: -250px;
}
#item1 {
    background-size: 130%;
    background-position-x: -20px;
}
.p1s3sliderContainer:hover .p1s3slider-item {
    filter: grayscale(0.8);
}
.p1s3sliderContainer .p1s3slider-item:hover {
    filter: grayscale(0);
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * ((350px + 0.6rem) * 8))); /* Move by total width of 8 items with margins */
    }
}
.p1s3sliderContainer:hover .p1s3slider {
    animation-play-state: paused!important;
}

/*---------------------  SECTION 1.4  ---------------------*/

.p1hr2 {
    position: relative;
    justify-self: center;
    width: 70%; height: 3px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg,rgba(2, 66, 83, 1) 0%, 
    rgba(0, 185, 232, 1) 50%, 
    rgba(2, 66, 83, 1) 100%);
}

#section14 {
    position: relative;
    width: 100%; height: 1383px;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
}

.p1s4h1 {
    position: relative;
    top: 4%;
    text-align: center;
    color: #00B9E8;
    font-family: 'Zen Dots', 'Sans Serif';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4px;
}

.p1s4container1 {
    position: relative;
    margin-top: 8%;
    width: 100%; height: 38%;
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, auto);
    border: 1px solid transparent;
}
.s4text1 {
    width: 20%;
    margin-right: 40px;
    font-family: poppins, sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #a7a7a7;
    line-height: 1.5;
}

.p1s4imgContainer {
    position: relative;
    width: 30%; height: 100%;
    margin-right: 20px;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
}

.p1s4img {
    width: 100%; height: auto;
    background-image: url(Images/art1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#art1:hover {
    background-image: url(Images/art11.png);
}

#art2 {
    background-image: url(Images/art2.jpg);
}

#art2:hover {
    background-image: url(Images/art22.jpg);
}

.art3 {
    height: 100%; width: 30%;
    background-image: url(Images/art3.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.art3:hover {
    background-image: url(Images/art33.png);
}

.p1s4img, .art3 {
    box-shadow: 
    3px 3px 6px rgba(0, 0, 0, 1),
    -3px -3px 6px rgba(255, 255, 255, 0.4);
    transition: 100ms all ease-in-out;
}



.p1s4container2 {
    position: relative;
    margin-top: 7%;
    width: 100%; height: 38%;
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, auto);
    
    border: 1px solid transparent;
}
.s4text2 {
    width: 20%;
    margin-left: 20px;
    font-family: poppins, sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #a7a7a7;
    line-height: 1.5;
}

.p1s4imgContainer3 {
    position: relative;
    width: 27%; height: 100%;
    margin-right: 20px;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
}

#p1s4imgContainerSet2 {
    width: 33%;
}

.p1s4img3 {
    width: 100%; height: 115%;
    background-image: url(Images/game1.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.771);
    transition: 200ms all ease-in-out;
}
.p1s4img3:hover {
    border: 1px solid #00B9E8;
    box-shadow: 0px 0px 15px #00B9E8;
    scale: 1.01;
}

#game2 {
    height: 85%;
    align-self: flex-end;
    background-image: url(Images/game3.png);
}

#game3 {
    background-image: url(Images/game2.png);
}

#game4 {
    height: 85%;
    align-self: flex-end;
    background-image: url(Images/game4.png);
}


/*---------------------  SECTION 1.5  ---------------------*/

.p1hr3 {
    position: relative;
    justify-self: center;
    width: 70%; height: 3px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg,rgba(2, 66, 83, 1) 0%, 
    rgba(0, 185, 232, 1) 50%, 
    rgba(2, 66, 83, 1) 100%);
}

#section15 {
    position: relative;
    padding: 100px 0 80px 0;
    width: 100%; height: auto;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
}

.p1s5h1 {
    position: absolute;
    justify-self: center;
    color: #00B9E8;
    font-family: 'Zen Dots', 'Sans Serif';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 4px;
}

.p1s5container1 {
    margin-top: 80px;
    width: 100%; height: 480px;
    display: flex;
    justify-content: center;
    place-items: center;
}
.p1s5textContainer {
    width: 31%; height: 100%;
    margin-right: 30px;
    padding: 15px 20px;
    background-color: #181818;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
    box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.6);
}
.p1s5textContainer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #a2a2a2;
    text-align: justify;
}
.p1s5ImgContainer {
    width: 25%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}
#p1s5ImgContainer1 {
    margin-right: 10px;
}

.p1s5Img {
    height: 49%; width: 100%;
    border-radius: 10px;
    border: 1px solid #007A99;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.6);
    background-size: cover;
    transition: 200ms all ease-in-out;
}
#p1s5Img1, #p1s5Img3 {
    place-self: flex-start;
}
#p1s5Img2, #p1s5Img4 {
    place-self: flex-end;
}


/*---------------------  SECTION 2.1  ---------------------*/

#section21 {
    position: relative;
    vertical-align: top;
    width: 100%; height: 680px;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
}
.p2h1 {
    z-index: 3;
    position: absolute;
    justify-self: center; margin-top: 60px;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    line-height: 1;
    background: -webkit-linear-gradient(-90deg, #00B9E8 50%, #024253 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p2h1shadow {
    z-index: 2;
    position: absolute;
    justify-self: center; margin-top: 60px;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    line-height: 1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.p2container1 {
    z-index: 3;
    position: absolute;
    width: 100%; height: 65%;
    margin-top: 170px;
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, auto);
}
.p2textContainer {
    padding: 15px; margin-right: 40px;
    height: 100%; width: 42%;
    background-color: #18181886;
    border-radius: 10px;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}
.p2textContainer p {
    color: #c5c5c5;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    text-align: justify;
}
.p2imgContainer1 {
    margin-right: 15px;
    height: 100%; width: 18%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.p2img1 {
    width: 100%; height: 48%;
    background-image: url(Images/gwpic1.jpg);
    background-size: cover;
    align-self: flex-start;
    border-radius: 10px;
    border: 2px solid #00B9E8;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}
#p2img2 {
    height: 48%;
    background-image: url(Images/gwpic2.jpg);
    align-self: self-end;
}
.p2imgContainer2 {
    height: 100%; width: 18%;
    background-image: url(Images/gwpic3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid #00B9E8;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}
.p2mask1 {
    z-index: 1;
    position: absolute;
    width: 100%; height: 100%;
    -webkit-mask-image: linear-gradient(180deg, black 0%, transparent 100%);
    mask-image: linear-gradient(180deg, black 40%, transparent 100%);
    overflow: hidden;
}
.p2mask1 img {
    width: 100%; height: auto;
    opacity: 0.5;
}



/*---------------------  SECTION 3.1  ---------------------*/

#section31 {
    position: relative;
    vertical-align: top;
    width: 100%; height: 680px;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
}
.p3h1 {
    z-index: 3;
    position: absolute;
    justify-self: center; margin-top: 60px;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    line-height: 1;
    background: -webkit-linear-gradient(-90deg, #00B9E8 50%, #024253 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p3h1shadow {
    z-index: 2;
    position: absolute;
    justify-self: center; margin-top: 60px;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    line-height: 1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.p3container1 {
    z-index: 3;
    position: absolute;
    width: 100%; height: 65%;
    margin-top: 170px;
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, auto);
}
.p3textContainer {
    padding: 15px; margin-right: 40px;
    height: 100%; width: 40%;
    background-color: #18181886;
    border-radius: 10px;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}
.p3textContainer p {
    color: #c5c5c5;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    text-align: justify;
}
#p3textContainer2 {
    width: 44%;
}

.p3imgContainer1 {
    margin-right: 15px;
    height: 100%; width: 21%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.p3img1 {
    width: 100%; height: 55%;
    background-image: url(Images/sbhspic2.jpg);
    background-size: cover;
    align-self: flex-start;
    border-radius: 10px;
    border: 2px solid #00B9E8;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}
#p3img2 {
    height: 41%;
    background-image: url(Images/sbhspic1.jpg);
    background-position-y: -26px;
    align-self: self-end;
}
#p3s2img1 {
    height: 59%;
    background-image: url(Images/stipic1.jpg);
    background-size: 100%;
    background-position-y: -85px;
}
#p3s2img2 {
    height: 37%;
    background-image: url(Images/stipic2.jpg);
    align-self: self-end;
    background-position: 0;
}
#p3s2img3 {
    background-image: url(Images/stipic3.jpg);
    background-position-x: -60px;
}
.p3imgContainer2 {
    height: 100%; width: 18%;
    background-image: url(Images/sbhspic3.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid #00B9E8;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}
.p3mask1 {
    z-index: 1;
    position: absolute;
    width: 100%; height: 100%;
    -webkit-mask-image: linear-gradient(180deg, black 0%, transparent 100%);
    mask-image: linear-gradient(180deg, black 40%, transparent 100%);
    overflow: hidden;
}
.p3mask1 img {
    position: relative;
    bottom: 70px; left: 40px;
    width: 100%; height: auto;
    opacity: 0.5;
    scale: 1.1;
}
#stiBackground {
    bottom: 130px;
}


.imgContainer {
    position: relative;
    vertical-align: top;
    width: 100%; height: 450px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    place-items: center;
}
.imgSliderContainer {
    z-index: 2;
    position: relative;
    width: 83%; height: 70%;
    background-color: #181818;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#imgSliderContainer-border {
    z-index: 1;
    position: absolute;
    width: 83.29%; height: 71%;
    background-color: hsl(192, 100%, 45%);
    filter: blur(5px);
    animation: imgSliderEffect 1s ease-in-out infinite;
}
.sliderContainer {
    display: flex;
    width: calc((350px + 0.6rem) * 5 * 2);
    animation: slide2 10s linear infinite;
}   
.slide-item {
    position: relative;
    flex: 0 0 350px; height: 250px;
    margin: 0 0.3rem;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 0.5s ease;
}

.imgSliderContainer:hover .slide-item {
    filter: grayscale(0.8);
}
.imgSliderContainer .slide-item:hover {
    filter: grayscale(0);
}

.imgSliderContainer:hover .sliderContainer {
    animation-play-state: paused!important;
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * ((350px + 0.6rem) * 5))); /* Move by total width of 8 items with margins */
    }
}


@keyframes imgSliderEffect {
    0% {
        filter: blur(5px);
    }
    50% {
        filter: blur(10px);
    }
    100% {
        filter: blur(5px);
    }
}


/*---------------------  SECTION 4.1  ---------------------*/

#section41 {
    position: relative;
    vertical-align: top;
    width: 100%; height: 680px;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
}
.p4h1 {
    z-index: 3;
    position: absolute;
    justify-self: center; margin-top: 60px;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    line-height: 1;
    background: -webkit-linear-gradient(-90deg, #00B9E8 50%, #024253 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p4h1shadow {
    z-index: 2;
    position: absolute;
    justify-self: center; margin-top: 60px;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    line-height: 1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.p4container1 {
    z-index: 3;
    position: absolute;
    width: 100%; height: 65%;
    margin-top: 170px;
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, auto);
}
.p4textContainer {
    padding: 15px; margin-right: 40px;
    height: 100%; width: 21%;
    background-color: #18181886;
    border-radius: 10px;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}
.p4textContainer p {
    color: #c5c5c5;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    text-align: justify;
}
.p4imgContainer1 {
    margin-right: 15px;
    height: 100%; width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.p4img1 {
    width: 100%; height: 48%;
    background-image: url(Images/qcusfpic1.jpg);
    background-size: cover;
    align-self: flex-start;
    border-radius: 10px;
    border: 2px solid #00B9E8;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}
#p4img2 {
    height: 48%;
    background-image: url(Images/qcusfpic2.jpg);
    align-self: self-end;
}
.p4imgContainer2 {
    height: 100%; width: 27%;
    background-image: url(Images/qcusfpic3.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid #00B9E8;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}
.p4mask1 {
    z-index: 1;
    position: absolute;
    width: 100%; height: 100%;
    -webkit-mask-image: linear-gradient(180deg, black 0%, transparent 100%);
    mask-image: linear-gradient(180deg, black 40%, transparent 100%);
    overflow: hidden;
}
.p4mask1 img {
    position: relative;
    bottom: 70px;
    width: 100%; height: auto;
    opacity: 0.5;
}
